body{
    
    background-color: black;
    
}

h1{ 
    font-family: serif;
    color: white;
    text-align: center;
    letter-spacing: 25px;
    
}

p{
    font-family: serif;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    
    
}