

.boxed{
    opacity:0.6;
    border: 1px solid green;
    width: 120;
    padding-left: 10;
    padding-top:3;
    margin-left:440;
    margin-top: 40;
    font-family: sans-serif;
    color:black;
    
}

.boxed:hover{
    opacity:1.0;
    
}

p{
    padding-top:25;
    margin: 10;
    font-family: sans-serif;
    margin-left:440;
    margin-right:200;
    
}